<% @page_title = "Contact Us" %>
<div id="static_holder" class="container-fluid contact-us">
  <div class="row">
    <div class="col-xs-12 static_holder_content_container">
      <div id="static_holder_content" class="static_holder_content">
        <h2>Feedback Complete</h2>

        <div class="info_section">
          <p>Your message has been successfully submitted to the Homosaurus! Thank you for contacting us!</p>

          <ul class="back_link">
            <li><%= link_to 'Back to the Homepage', root_path %></li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>
