<h1>Homosaurus.org linked data vocabulary</h1>
<p>This is an International Thesaurus of Lesbian, Gay, Bisexual and Transgender Index Terms that is currently used by https://www.digitaltransgenderarchive.net.</p>

<p>This vocabulary was originally a project of the International Homo/Lesbian Informatiecentre & Archives and compiled by Jack van der Wel (with support of Ellen Greenblatt) in 2013. That offline document has been transcribed into the Linked Data provider under development here.</p>

<p>This vocabulary was recently updated to "v2". For the original version of this vocabulary, please visit: <%= link_to "Original V1 Vocabulary", vocabs_path %></p>
