
<div class="col-sm-12 col-md-12">
  <%= image_tag("homosaurus_logo_max_without_tagline.png", class: 'logo') %>
  <div class="text-center">
    <h1 class="fw-bold text-black"><%= t('misc.tagline').upcase %></h1>
  </div>
</div>
<div class="card col-sm-12 col-md-12 homepage_info">
  <div class="card-body text-bg-light">
    <%= t('homepage.welcome_html', contact_path: :contact) %>
  </div>
</div>
