default: &default
  recaptcha_site_key: ""
  recaptcha_secret_key: ""
  recaptcha_site_key_v3: ""
  recaptcha_secret_key_v3: ""
  proxy_host: ""
  proxy_port: ""

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
