<div id="about" class="col-sm-12 col-md-12">
  <div class="release_title">
    <h2>Homosaurus v. 3.2 Updates</h2>
    <h3>Released June 2022</h3>
  </div>
  <div class="info_section">
    <p>
      <strong>List of new terms added:</strong>
    <ol>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001976">Aboriginal Australian bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001975">Aboriginal Australian gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001979">Aboriginal Australian intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001974">Aboriginal Australian lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001978">Aboriginal Australian queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001977">Aboriginal Australian transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001927">Agender identity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001823">Alloromantic people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001917">Allosexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001893">Anti-intersex discrimination</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001885">Anti-Two-Spirit discrimination</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002015">Arab asexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002012">Arab bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002016">Arab intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002010">Arab lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002009">Arab LGBTQ+ people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002011">Arab gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002014">Arab queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002013">Arab transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002037">Asexual people in the workplace</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002004">Asexual survivors of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001995">Asexual victims of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002060">Assamese LGBTQ+ people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001928">BIPOC</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001798">Biracial bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001797">Biracial gay people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001796">Biracial lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001800">Biracial queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001799">Biracial transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001824">Biromantic people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001932">Bisexual athletes</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001874">Bisexual blind people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001869">Bisexual Deaf people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001857">Bisexual disabled people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001833">Bisexual culture</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001863">Bisexual hard of hearing people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002032">Bisexual people in the workplace</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001882">Bisexual people with chronic illnesses</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002001">Bisexual survivors of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001992">Bisexual victims of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001888">Bisexual wheelchair users</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001910">Bisexual witches</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001841">Chest reconstruction surgery</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002018">Chicano/a/x bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002017">Chicano/a/x gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002021">Chicano/a/x intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002008">Chicano/a/x lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002007">Chicano/a/x LGBTQ+ people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002020">Chicano/a/x queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002019">Chicano/a/x transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001925">Cisgender identity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001924">Cissexuality</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001844">Clitoroplasty</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001807">Content warnings</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001808">Costumes</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001891">Crip</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001902">Critical race theory</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001923">Demigender identity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001985">Demiromantic people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001986">Demiromanticism</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001836">Desistance (Gender)</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001834">Detransitioning</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001906">Drag performers</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001896">Endosex</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001897">Endosex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001839">Facial feminisation surgery</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001837">Facial gender affirming surgery</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001838">Facial masculinisation surgery</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002040">Female gaze</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002043">Feminine of center</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001842">Feminising vocal surgery</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002039">Feminist theory</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001931">Gay athletes</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001873">Gay blind people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001868">Gay Deaf people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001856">Gay disabled people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001862">Gay hard of hearing people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002031">Gay men in the workplace</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001881">Gay men with chronic illnesses</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002000">Gay survivors of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001991">Gay victims of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001887">Gay wheelchair users</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001909">Gay witches</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001899">Gender ambiguity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0000563">Gender binaries</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001817">Gender minorities</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001922">Gender non-conforming identity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001816">Gender transgression</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001921">Genderqueer identity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001987">Greyromantic people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001988">Greyromanticism</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001980">GRID (Gay-Related Immune Deficiency)</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001981">HAART (Highly Active Antiretroviral Therapy)</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001822">Hermaphrodites</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001826">Heteromantic people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002025">Hispanic bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002024">Hispanic gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002028">Hispanic intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002023">Hispanic lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002022">Hispanic LGBTQ+ people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002027">Hispanic queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002026">Hispanic transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001806">Homoeroticism</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001825">Homoromantic people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002059">Indian asexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002055">Indian bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002054">Indian gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002057">Indian intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002053">Indian lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002052">Indian LGBTQ+ people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002056">Indian queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002058">Indian transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001970">Indigenous bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001969">Indigenous gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001973">Indigenous intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001968">Indigenous lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001972">Indigenous queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001971">Indigenous transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001810">Indigiqueer</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001809">Indigiqueer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001935">Intersex athletes</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002036">Intersex people in the workplace</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002005">Intersex survivors of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001996">Intersex victims of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001913">Intersex witches</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001964">Inuit bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001963">Inuit gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001967">Inuit intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001962">Inuit lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001966">Inuit queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001965">Inuit transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001958">Kānaka Maoli bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001957">Kānaka Maoli gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001961">Kānaka Maoli intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001956">Kānaka Maoli lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001955">Kānaka Maoli LGBTQ+ people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001960">Kānaka Maoli queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001959">Kānaka Maoli transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001845">Labiaplasty</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001930">Lesbian athletes</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001872">Lesbian blind people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001867">Lesbian Deaf people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001855">Lesbian disabled people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001861">Lesbian hard of hearing people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001999">Lesbian survivors of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001990">Lesbian victims of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001886">Lesbian wheelchair users</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001908">Lesbian witches</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002030">Lesbians in the workplace</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001880">Lesbians with chronic illnesses</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001853">LGBTQ+ asylum seekers</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001929">LGBTQ+ athletes</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001831">LGBTQ+ culture</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001878">LGBTQ+ Deaf culture</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001860">LGBTQ+ hard of hearing people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001982">LGBTQ+ home movies</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001815">LGBTQ+ immigrants</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002029">LGBTQ+ people in the workplace</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001879">LGBTQ+ people with chronic illnesses</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001830">LGBTQ+ periodicals</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001813">LGBTQ+ special collections</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001998">LGBTQ+ survivors of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001989">LGBTQ+ victims of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001983">LGBTQ+ vlogs</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001877">LGBTQ+ wheelchair users</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001907">LGBTQ+ witches</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002041">Male gaze</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001843">Masculinising vocal surgery</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001895">Masquerading</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001846">Metoidioplasty</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001904">Misogynoir</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001916">Monogamous people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001915">Monosexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001803">Multiracial bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001802">Multiracial gay people</a>
      </li>
      <li>
        <a href="https://www.digitaltransgenderarchive.net/homosaurus_v3/37482">Multiracial lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001805">Multiracial queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001804">Multiracial transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001894">Neophallus</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001984">Nipple</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001920">Non-binary identity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001939">Pacific Islander American bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001938">Pacific Islander American gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001942">Pacific Islander American intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001937">Pacific Islander American lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001812">Pacific Islander American LGBTQ+ people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001941">Pacific Islander American queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001940">Pacific Islander American transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001827">Panromantic people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001926">Pansexuality</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001945">Papuan bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001944">Papuan gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001948">Papuan intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001943">Papuan lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001947">Papuan queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001946">Papuan transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001901">Passing (Sexuality)</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001850">Phalloplasty</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001919">Polysexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001934">Queer athletes</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001876">Queer blind people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001832">Queer culture</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001871">Queer Deaf people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001859">Queer disabled people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002042">Queer gaze</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001865">Queer hard of hearing people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002034">Queer people in the workplace</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001884">Queer people with chronic illnesses</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002003">Queer survivors of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001994">Queer victims of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001890">Queer wheelchair users</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001912">Queer witches</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002038">Racism</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001900">Reading (LGBTQ+ culture)</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001835">Retransitioning</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001951">Romani bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001950">Romani gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001954">Romani intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001949">Romani lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001953">Romani queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001952">Romani transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001829">Romantic minorities</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001828">Romantic orientation</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001847">Scrotoplasty</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002051">South Asian asexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002047">South Asian bisexual people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002046">South Asian gay men</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002049">South Asian intersex people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002045">South Asian lesbians</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002044">South Asian LGBTQ+ people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002048">South Asian queer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002050">South Asian transgender people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001852">Stand-to-Pee devices</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001898">Studs</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001840">Top surgery</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001849">Tracheal shave</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001819">Trans exclusion</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001818">Trans inclusion</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001933">Transgender athletes</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001875">Transgender blind people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001870">Transgender Deaf people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001858">Transgender disabled people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001864">Transgender hard of hearing people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002033">Transgender people in the workplace</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001883">Transgender people with chronic illnesses</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002002">Transgender survivors of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001993">Transgender victims of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001889">Transgender wheelchair users</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001911">Transgender witches</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001918">Transgenderqueer people</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001821">Transfemininity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001820">Transmasculinity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001892">Transmisogyny</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001903">Transmisogynoir</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001936">Two-Spirit athletes</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001811">Two-Spirit community</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001914">Two-Spirit identity</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002035">Two-Spirit people in the workplace</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0002006">Two-Spirit survivors of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001997">Two-Spirit victims of bullying</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001848">Vaginectomy</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001851">Vaginoplasty</a>
      </li>
      <li>
        <a href="https://homosaurus.org/v3/homoit0001905">Zaps</a>
      </li>
    </ol>
    </p>
    <p>
      <strong>Redirected terms:</strong><br />
      <a href="#" onClick="$('#3_2_revised_terms_redirected').toggleClass('hidden'); return false;">(Click here show or hide the list)</a>
    <ol id="3_2_revised_terms_redirected" class="hidden" >
      <li>
        Bisexual theology (https://homosaurus.org/v3/homoit0000195) and Gay theology (https://homosaurus.org/v3/homoit0000548) redirected to&nbsp;<a href="https://homosaurus.org/v3/homoit0001218">Queer theology</a>
      </li>
      <li>
        Lesbian religious groups (https://homosaurus.org/v3/homoit0000774) redirected to&nbsp;<a href="https://homosaurus.org/v3/homoit0000530">LGBTQ+-affirming religious groups</a>
      </li>
      <li>
        Gay theology (https://homosaurus.org/v3/homoit0000548) redirected to&nbsp;<a href="https://homosaurus.org/v3/homoit0001218">Queer theology</a>
      </li>
      <li>
        Lesbian theology (https://homosaurus.org/v3/homoit0000790) redirected to&nbsp;<a href="https://homosaurus.org/v3/homoit0001218">Queer theology</a>
      </li>
      <li>
        LGBTQ+ people with physical disability (https://homosaurus.org/v3/homoit0000916) and LGBTQ+ people with visual disabilities (https://homosaurus.org/v3/homoit0000917) redirected to&nbsp;<a href="https://homosaurus.org/v3/homoit0001854">LGBTQ+ disabled people</a>
      </li>
      <li>
        LGBTQ+ theology (https://homosaurus.org/v3/homoit0001364) redirected to&nbsp;<a href="https://homosaurus.org/v3/homoit0001218">Queer theology</a>
      </li>
      <li>
        Transgender theology (https://homosaurus.org/v3/homoit0001455) redirected to&nbsp;<a href="https://homosaurus.org/v3/homoit0001218">Queer theology</a>
      </li>
      <li>
        Witches (Lesbians) (https://homosaurus.org/v3/homoit0001507) redirected to&nbsp;<a href="https://homosaurus.org/v3/homoit0001908">Lesbian witches</a>
      </li>
    </ol>
    </p>
    <p>
      <strong>General changes to terms:</strong><br />
      <a href="#" onClick="$('#3_2_revised_terms_general').toggleClass('hidden'); return false;">(Click here show or hide the list)</a>
    <ol id="3_2_revised_terms_general" class="hidden" >
      <li>
        Gender confirming surgery changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000561">Gender affirming surgery</a>
      </li>
      <li>
        Genderfluid changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000569">Genderfluid identity</a>
      </li>
      <li>
        Genital reconstruction surgery changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000584">Bottom surgery</a>
      </li>
      <li>
        LGBTQ+ deaf people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001866">LGBTQ+ Deaf people</a>
      </li>
      <li>
        LGBTQ+ homeless people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000879">LGBTQ+ unhoused people</a>
      </li>
      <li>
        LGBTQ+ homeless youth changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000880">LGBTQ+ unhoused youth</a>
      </li>
      <li>
        Xenogender changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001670">Xenogender identity</a>
      </li>
    </ol>
    </p>
    <p>
      <strong>Changes to terms related to race and ethnicity:</strong><br />
      <a href="#" onClick="$('#3_2_revised_terms_race').toggleClass('hidden'); return false;">(Click here show or hide the list)</a>
    <ol id="3_2_revised_terms_race" class="hidden" >
      <li>
        Bisexual African-Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000123">African American bisexual people</a>
      </li>
      <li>
        Bisexual Afro-Canadians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000124">Afro-Canadian bisexual people</a>
      </li>
      <li>
        Bisexual Afro-Caribbeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000125">Afro-Caribbean bisexual people</a>
      </li>
      <li>
        Bisexual Afro-Europeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000126">Afro-European bisexual people</a>
      </li>
      <li>
        Bisexual Afro-Latin Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000127">Afro-Latin American bisexual people</a>
      </li>
      <li>
        Bisexual Asian Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000130">Asian American bisexual people</a>
      </li>
      <li>
        Bisexual Asians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000131">Asian bisexual people</a>
      </li>
      <li>
        Bisexual biracial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001798">Biracial bisexual people</a>
      </li>
      <li>
        Bisexual Black people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000135">Black bisexual people</a>
      </li>
      <li>
        Bisexual Latinx changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000155">Latino/a/x bisexual people</a>
      </li>
      <li>
        Bisexual multi-racial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001803">Multiracial bisexual people</a>
      </li>
      <li>
        Bisexual Native Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000165">Native American bisexual people</a>
      </li>
      <li>
        Bisexual white people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000201">White bisexual people</a>
      </li>
      <li>
        Gay African-Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000463">African American gay men</a>
      </li>
      <li>
        Gay Afro-Canadians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000464">Afro-Canadian gay men</a>
      </li>
      <li>
        Gay Afro-Caribbeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000465">Afro-Caribbean gay men</a>
      </li>
      <li>
        Gay Afro-Europeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000466">Afro-European gay men</a>
      </li>
      <li>
        Gay Afro-Latin Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000467">Afro-Latin American gay men</a>
      </li>
      <li>
        Gay Asian Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000471">Asian American gay men</a>
      </li>
      <li>
        Gay Asians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000472">Asian gay men</a>
      </li>
      <li>
        Gay biracial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001797">Biracial gay men</a>
      </li>
      <li>
        Gay Black people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000477">Black gay men</a>
      </li>
      <li>
        Gay Latinx changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000498">Latino/a/x gay men</a>
      </li>
      <li>
        Gay multi-racial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001802">Multiracial gay men</a>
      </li>
      <li>
        Gay Native Americans change to&nbsp;<a href="https://homosaurus.org/v3/homoit0000513">Native American gay men</a>
      </li>
      <li>
        Gay white people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000555">White gay men</a>
      </li>
      <li>
        Lesbian African-Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000714">African American lesbians</a>
      </li>
      <li>
        Lesbian Afro-Canadians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000715">Afro-Canadian lesbians</a>
      </li>
      <li>
        Lesbian Afro-Caribbeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000716">Afro-Carribbean lesbians</a>
      </li>
      <li>
        Lesbian Afro-Europeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000717">Afro-European lesbians</a>
      </li>
      <li>
        Lesbian Afro-Latin Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000718">Afro-Latin American lesbians</a>
      </li>
      <li>
        Lesbian Asian Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000721">Asian American lesbians</a>
      </li>
      <li>
        Lesbian Asians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000722">Asian lesbians</a>
      </li>
      <li>
        Lesbian biracial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001796">Biracial lesbians</a>
      </li>
      <li>
        Lesbian Black people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000726">Black lesbians</a>
      </li>
      <li>
        Lesbian Latinx changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000747">Latino/a/x lesbians</a>
      </li>
      <li>
        Lesbian multi-racial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001801">Multiracial lesbians</a>
      </li>
      <li>
        Lesbian Native Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000758">Native American lesbians</a>
      </li>
      <li>
        Lesbian white people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000797">White lesbians</a>
      </li>
      <li>
        LGBTQ+ Aboriginal people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000002">Aboriginal Australian LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ African-Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000015">African American LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Afro-Canadians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000016">Afro-Canadian LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Afro-Caribbeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000017">Afro-Caribbean LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Afro-Europeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000018">Afro-European LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Afro-Latin Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000019">Afro-Latin American LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Asian-Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000073">Asian American LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Asians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000074">Asian LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ biracial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000820">Biracial LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Black people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000208">Black LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ ethnic groups changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000860">LGBTQ+ people in ethnic groups</a>
      </li>
      <li>
        LGBTQ+ Indigenous people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000886">Indigenous LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Inuit changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000676">Inuit LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Latinx changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000253">Latino/a/x LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ multi-racial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000903">Multiracial LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Native Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001037">Native American LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Pacific Islander Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001812">Pacific Islander American LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Papuans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000913">Papuan LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Roma changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000875">Romani LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ white people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000243">White LGBTQ+ people</a>
      </li>
      <li>
        Queer African-Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001151">African American queer people</a>
      </li>
      <li>
        Queer Afro-Canadians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001152">Afro-Canadian queer people</a>
      </li>
      <li>
        Queer Afro-Caribbeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001153">Afro-Caribbean queer people</a>
      </li>
      <li>
        Queer Afro-Europeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001154">Afro-European queer people</a>
      </li>
      <li>
        Queer Afro-Latin Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001155">Afro-Latin American queer people</a>
      </li>
      <li>
        Queer Asian Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001158">Asian American queer people</a>
      </li>
      <li>
        Queer Asians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001159">Asian queer people</a>
      </li>
      <li>
        Queer biracial people cchanged to&nbsp;<a href="https://homosaurus.org/v3/homoit0001800">Biracial queer people</a>
      </li>
      <li>
        Queer Black people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001163">Black queer people</a>
      </li>
      <li>
        Queer Latinx changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001181">Latino/a/x queer people</a>
      </li>
      <li>
        Queer multi-racial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001805">Multiracial queer people</a>
      </li>
      <li>
        Queer Native Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001190">Native American queer people</a>
      </li>
      <li>
        Queer white people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001226">White queer people</a>
      </li>
      <li>
        Transgender African-Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001384">African American transgender people</a>
      </li>
      <li>
        Transgender Afro-Canadians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001385">Afro-Canadian transgender people</a>
      </li>
      <li>
        Transgender Afro-Caribbeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001386">Afro-Caribbean transgender people</a>
      </li>
      <li>
        Transgender Afro-Europeans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001387">Afro-European transgender people</a>
      </li>
      <li>
        Transgender Afro-Latin Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001388">Afro-Latin American transgender people</a>
      </li>
      <li>
        Transgender Asian Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001391">Asian American transgender people</a>
      </li>
      <li>
        Transgender Asians changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001392">Asian transgender people</a>
      </li>
      <li>
        Transgender biracial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001799">Biracial transgender people</a>
      </li>
      <li>
        Transgender Black people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001396">Black transgender people</a>
      </li>
      <li>
        Transgender Latinx changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001417">Latino/a/x transgender people</a>
      </li>
      <li>
        Transgender multi-racial people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001804">Multiracial transgender people</a>
      </li>
      <li>
        Transgender Native Americans changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001426">Native American transgender people</a>
      </li>
      <li>
        Transgender white people changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001461">White transgender people</a>
      </li>
    </ol>
    </p>
    <p>
      <strong>Changes to terms related to religion and religious people:</strong><br />
      <a href="#" onClick="$('#3_2_revised_terms_religion').toggleClass('hidden'); return false;">(Click here show or hide the list)</a>
    <ol id="3_2_revised_terms_religion" class="hidden" >
      <li>
        Bisexual Jews changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000154">Jewish bisexual people</a>
      </li>
      <li>
        Gay Jews changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000497">Jewish gay men</a>
      </li>
      <li>
        Lesbian Jews changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000745">Jewish lesbians</a>
      </li>
      <li>
        LGBTQ+ Jews changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000682">Jewish LGBTQ+ people</a>
      </li>
      <li>
        LGBTQ+ Old Catholic Church changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000912">LGBTQ+ Old Catholics</a>
      </li>
      <li>
        LGBTQ+ religions changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000928">LGBTQ+ religious people</a>
      </li>
      <li>
        LGBTQ+ spirituality changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000948">LGBTQ+ spiritual people</a>
      </li>
      <li>
        Transgender Jews changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001416">Jewish transgender people</a>
      </li>
      <li>
        Queer Jews changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001180">Jewish queer people</a>
      </li>
    </ol>
    </p>
    <p>
      <strong>Changes to terms with acronyms:</strong><br />
      <a href="#" onClick="$('#3_2_revised_terms_acronym').toggleClass('hidden'); return false;">(Click here show or hide the list)</a>
    <ol id="3_2_revised_terms_acronym" class="hidden" >
      <li>
        ARC changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000033">ARC (AIDS-Related Complex)</a>
      </li>
      <li>
        DSM changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000351">DSM (Diagnostic and Statistical Manual of Mental Disorders)</a>
      </li>
      <li>
        T4T (Trans for Trans) changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001780">t4t</a>
      </li>
    </ol>
    </p>
    <p>
      <strong>Changes to terms with qualifiers:</strong><br />
      <a href="#" onClick="$('#3_2_revised_terms_qualifiers').toggleClass('hidden'); return false;">(Click here show or hide the list)</a>
    <ol id="3_2_revised_terms_qualifiers" class="hidden" >
      <li>
        Beards changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001788">Beards (Gay culture)</a>
      </li>
      <li>
        Bears changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000105">Bears (Gay culture)</a>
      </li>
      <li>
        Bottoms changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000219">Bottoms (Sex)</a>
      </li>
      <li>
        Camp changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000238">Camp (Gay culture)</a>
      </li>
      <li>
        Chubs (Gay men) changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000267">Chubs (Gay culture)</a>
      </li>
      <li>
        Clocking (Transgender) changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001781">Clocking (Gender)</a>
      </li>
      <li>
        Clones (Gay men) changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000284">Clones (Gay culture)</a>
      </li>
      <li>
        Cottages changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000308">Cottages (Gay culture)</a>
      </li>
      <li>
        Cottaging changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000309">Cottaging (Gay culture)</a>
      </li>
      <li>
        Cruising changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000319">Cruising (LGBTQ+ culture)</a>
      </li>
      <li>
        Cubs changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000321">Cubs (Gay culture)</a>
      </li>
      <li>
        Drab changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000366">Drab (LGBTQ+ culture)</a>
      </li>
      <li>
        Goldilocks changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000598">Goldilocks (Gay culture)</a>
      </li>
      <li>
        LGBTQ+ masters changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000999">LGBTQ+ masters (BDSM culture)</a>
      </li>
      <li>
        LGBTQ+ mistresses changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001018">LGBTQ+ mistresses (BDSM culture)</a>
      </li>
      <li>
        Otters changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001063">Otters (Gay culture)</a>
      </li>
      <li>
        Outing changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001065">Outing (LGBTQ+ culture)</a>
      </li>
      <li>
        Pups changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001145">Pups (Gay culture)</a>
      </li>
      <li>
        Queens changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001148">Queens (Gay culture)</a>
      </li>
      <li>
        Reading (Transgender) changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001233">Reading (Gender)</a>
      </li>
      <li>
        Red ribbons changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000034">Red ribbons (AIDS)</a>
      </li>
      <li>
        Scat changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000305">Scat (Sex)</a>
      </li>
      <li>
        Slaves changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001318">Slaves (BDSM culture)</a>
      </li>
      <li>
        Stealth (Transgender) changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000288">Stealth</a>
      </li>
      <li>
        Switches changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001353">Switches (Sex)</a>
      </li>
      <li>
        Tearooms changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001358">Tearooms (Gay culture)</a>
      </li>
      <li>
        Tops changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001376">Tops (Sex)</a>
      </li>
      <li>
        Transitioning (Transgender) changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001465">Transitioning (Gender)</a>
      </li>
      <li>
        Tucking changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001476">Tucking (Phallus)</a>
      </li>
      <li>
        Twinks changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001479">Twinks (Gay culture)</a>
      </li>
      <li>
        Vampirism changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000211">Vampirism (Sex)</a>
      </li>
      <li>
        Vers changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001779">Vers (Sex)</a>
      </li>
      <li>
        Voice therapy (Transgender) changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001496">Voice therapy (Gender)</a>
      </li>
      <li>
        Water sports changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000597">Water sports (Sex)</a>
      </li>
      <li>
        Wolves changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001508">Wolves (Gay culture)</a>
      </li>
      <li>
        Goddess movement (Lesbians) changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000596">Goddess movement</a>
      </li>
    </ol>
    </p>
    <p>
      <strong>Changes to pluralization:</strong><br />
      <a href="#" onClick="$('#3_2_revised_terms_plural').toggleClass('hidden'); return false;">(Click here show or hide the list)</a>
    <ol id="3_2_revised_terms_plural" class="hidden" >
      <li>
        Breasts changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000222">Breast</a>
      </li>
      <li>
        Buttocks changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000232">Butt</a>
      </li>
      <li>
        Femininity changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000389">Femininities</a>
      </li>
      <li>
        Gender binary changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000563">Gender binaries</a>
      </li>
      <li>
        Masculinity changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0000995">Masculinities</a>
      </li>
      <li>
        Penises changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001099">Penis</a>
      </li>
      <li>
        Testes changes to&nbsp;<a href="https://homosaurus.org/v3/homoit0001361">Testicle</a>
      </li>
      <li>
        Vaginas changed to&nbsp;<a href="https://homosaurus.org/v3/homoit0001488">Vagina</a>
      </li>
    </ol>
    </p>

  </div>
</div>