<div id="about" class="col-sm-12 col-md-12">
  <div class="release_title">
    <h2>Homosaurus v. 3 Released</h2>
    <h3>Released September 2021</h3>
  </div>
  <div class="info_section">
    <p>
      The Homosaurus V3 has been made available. This initial version is
      the same as Homosaurus V2 but uses a more standard identifier sequence.
      To migrate from Homosaurus V2, there is a "replacedBy" field that points to
      equivalent Homosaurus V3 term. The Homosaurus V3 term added a "replaces" field
      that points to the Homosaurus V2 term. <br /><br />
      The Homosaurus V2 can still be accessed at: <%= link_to "https://homosaurus.org/v2", "https://homosaurus.org/v2", target: "_blank" %>
    </p>
  </div>
</div>