<div id="about" class="col-sm-12 col-md-12">
  <div class="release_title">
    <h2><%= t("menu.releases") %></h2>
  </div>
  <div class="info_section">
    <ul class="list-group list-group-flush">
      <% @releases.each do |release| %>
      <li class="list-group-item">
	<% link_name = "Homosaurus v.#{release.release_identifier} (#{release.release_date.nil? ? '' : release.release_date.to_date})"
	   if current_user.present?
	     link_name += " [" + t("status.#{release.status.downcase}") + "]"
	   end
	   %>
        <%= link_to link_name, release_show_path(:release_id => release.release_identifier) %>
      </li>
      <% end %>
    </ul>
  </div>

</div>
