<div id="about" class="col-sm-12 col-md-12">
  <div class="release_title">
    <h2>Homosaurus Releases</h2>
    <% if @releases.first.present? %>
    <h3>Last Updated: <%= @releases.first.release_date %></h3>
    <% end %>
  </div>
  <div class="info_section">
    <p>
      <ol>
        <% @releases.each do |release| %>
          <li>
            <%= link_to "Homosaurus v.#{release.release_identifier} (#{release.release_date})", release_show_path(:release_id => release.id) %>
          </li>
        <% end %>
      </ol>
    </p>
  </div>

</div>
