/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "*";
@import "bootstrap";
// @import "bootstrap-icons/font/bootstrap-icons";
// @font-face {
//   font-family: "bootstrap-icons";
//   src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
//     font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
// }

#logo_holder {
    display: inline-block;
}
#logo_holder img {
    border-radius: 15%;
    mix-blend-mode: lighten;
    scale: .8;
}

#new_term .popover {
  max-width: 900px;
}

#edit_term .popover {
  max-width: 900px;
}

.collapse-icon:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.card-header.collapsed .collapse-icon:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.reply-comment .card-body::before {
    height: 100%;
    width: 40px;
    position: absolute;
    content: "";
    transform: translate(-100%, -50%);
    border-radius: 0px 15px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    z-index:-1;
}

.reply-container .comment-and-replies:not(:last-child)::before {
    height: 100%;
    width: 23px;
    position: absolute;
    content: "";
    transform: translate(-100%, 0);
    border-left: 1px solid black;
    z-index:-1;
}

.button_to {
    display: inline-block;
}
