.panel {
  max-width: 600px;
}
.panel-primary a:link {
  color: white;
}

/* visited link */
.panel-primary a:visited {
  color: white;
}

/* mouse over link */
.panel-primary a:hover {
  color: white;
}

/* selected link */
.panel-primary a:active {
  color: white;
}


.panel-danger a:link {
  color: #337ab7;
}

/* visited link */
.panel-danger a:visited {
  color: #337ab7;
}

/* mouse over link */
.panel-danger a:hover {
  color: #337ab7;
}

/* selected link */
.panel-danger a:active {
  color: #337ab7;
}

img.logo {
  max-width: 100%;
  max-height: 100%;
  margin-top: 40px;
}

div.homepage_info {
  margin-top: 40px;
  h1 {
    margin-top: 0;
    padding-top: 0;
  }


}

.footer a{color:#9d9d9d}
.footer a:focus{color:#fff;background-color:transparent}
.footer a:hover{color:#fff;background-color:transparent}