<%
  panel_class ||= 'danger'
  title ||= ''
  values ||= []
%>
<% if values[0].present? %>
  <div class="panel panel-<%=panel_class%>">

  <div class="panel-heading">
    <%= title.html_safe %>
  </div>
  <div class="panel-body">
    <dl style="margin-bottom:0px">
      <% values.each do |value| %>
        <% relation_obj = Term.find_by(uri: value) %>
        <dd>
          <%= link_to "#{relation_obj.pref_label}", vocabulary_show_path(vocab_id: relation_obj.vocabulary_identifier, id: relation_obj.identifier)%>
        </dd>
      <% end %>
    </dl>
  </div>
  </div>
<% end %>