<%
  panel_class ||= 'danger'
  title ||= ''
  values ||= []
%>
<% if values[0].present? %>
  <div class="card card-<%=panel_class%> mb-3 col-lg-6 col-md-8 col-sm-12">

  <div class="card-header text-bg-<%=panel_class%>">
    <%= title.html_safe %>
  </div>
  <div class="card-body">
    <dl style="margin-bottom:0px">
      <% if values.present? && values[0].present? %>
        <% objs_sorted = Term.where(id: values.map{|v| v[1]}).sort_by { |obj| obj.pref_label_localized.data.downcase } %>
        <% objs_sorted.each do |relation_obj| %>
          <dd>
            <%= link_to "#{relation_obj.pref_label_localized.data} [#{relation_obj.identifier}]", vocabulary_show_path(vocab_id: relation_obj.vocabulary_identifier, id: relation_obj.identifier)%>
          </dd>
        <% end %>
      <% end %>
    </dl>
  </div>
  </div>
<% end %>
