<%
  panel_class ||= 'primary'
  title ||= ''
  values ||= []
%>
<% if values[0].present? %>
  <div class="card card-<%=panel_class%> mb-3 col-lg-6 col-md-8 col-sm-12">

  <div class="card-header text-bg-<%=panel_class%>">
    <%= title.html_safe %>
  </div>
  <div class="card-body">
    <dl style="margin-bottom:0px">
      <% values.each do |value| %>
        <dd><%= value %></dd>
      <% end %>
    </dl>
  </div>
  </div>
<% end %>
